{% extends 'base.html' %}
{% block title %}News | {% endblock title %}
{% block body %}
<div class="card" style="align-self: center;">
<img src="static/comp1.jpg" class="card-img-top" alt="...">
<div class="card-body">
    <h5 class="card-title">Vocal For Local...</h5>
    <p class="card-text">"Methods to developing your local areas"</p>
    <p> Details
    Question Problem :
    India is the developing country , yet not developed . Due to hard times of this Corona Pandamic
    Our local areas and market is degrading day by day. This is the right time to protect the environment 
    because ...
    <a href="/registration" class="btn btn-primary">Register</a>
</div>
</div>
{% endblock body %}