{% extends 'base.html' %}
{% block title %}Contact us | {% endblock title %}
{% block body %}

<style>
* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
#Send{
    background-color:green;
    color: white;
}
</style>



<div class="container">
  <div style="text-align:center">
    <h2>Contact Us</h2>
    <p>We are there 24 X 7 , for you :</p>
  </div>
  <div class="row">
    <div class="column">
      <img src="static/mail.jpg" style="width:100%">
    </div>
    <div class="column">
      <form action="/contactus" method="post">
        <label for="fname">Name</label>
        <input type="text" id="fname" name="contactName" placeholder="Enter Your name" required>
        <label for="email">Email</label>
        <input type="text" id="email" name="contactEmail" placeholder="Enter Your Email address" required>
        <label for="subject">Message</label>
        <textarea id="subject" name="contactMessage" placeholder="Write your query here ..." style="height:170px" required></textarea>
        {% csrf_token %}
        <button id="Send"type="submit">Send</button>
      </form>
    </div>
  </div>
</div>
<br>
<br>
{% endblock body %}