{% extends 'base.html' %}
{% block title %}Events | {% endblock title %}
{% block body %}
<h1 style="text-align:center;padding-top:5mm">Events</h1>
<div>
<div class="card">
  <div class="card" style="">
    <img src="https://source.unsplash.com/WLUHO9A_xik/500x300" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Vocal For Local...</h5>
      
    </div>
  </div>
<div class="card">
  <div class="card" style="">
    <img src="https://source.unsplash.com/WLUHO9A_xik/500x300" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Photography...</h5>
      <p class="card-text">This is the photography competetion.</p>
      
    </div>
  </div>
</div>
<div class="card">
  <div class="card" style="">
    <img src="https://source.unsplash.com/WLUHO9A_xik/500x300" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Photography...</h5>
      <p class="card-text">This is the photography competetion.</p>
      
    </div>
  </div>
{% endblock body %}